{% extends "home.html" %}


{% block content %}
<style>
  #id_honeypot {
    display: none;
  }
</style>

{% if object.submitter == user %}
  <a href="{% url 'link_update' pk=object.pk %}">Edit</a> | 
  <a href="{% url 'link_delete' pk=object.pk %}">Delete</a>
{% endif %}
<h2><a href="{{ object.url }}">{{ object.title }}</a></h2>

<div class="desc">
  {{ object.description }}
</div>

{% endblock %}
