{% extends "home.html" %}

{% block content %}
    <form method="post" action="{% url 'link_delete' pk=object.pk %}">
	  {% csrf_token %}
	  <a href="{% url 'link_detail' pk=object.pk %}">Go back</a> 
	  <p><input type="submit" value="Confirm deletion" /></p>
	</form> 
{% endblock content %}