{% extends "home.html" %}

{% block content %}
{% if is_paginated %}
<ol class="list-group" start="{{ page_obj.start_index }}">
{% else %}
<ol class="list-group">
{% endif %}
{% for link in object_list %}
<form method="post" action="{% url 'vote' %}" class="vote_form">
  <li class="list-group-item">
    {% csrf_token %}
    <input type="hidden" id="id_link" name="link" class="hidden_id" value="{{ link.pk }}" />
    <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" />
    {% if not user.is_authenticated %}
    <button disabled title="Please login to vote">+</button>
    {% elif link.pk not in voted %}
    <button>+</button>
    {% else %}
    <button>-</button>
    {% endif %}
    <a href="{{ link.url }}">{{ link.title }}</a>
    <div class="Link-detail">
        <span>{{ link.votes }} points</span> |
        <span><a href="{% url 'link_detail' pk=link.pk %}"> Details</a></span> |
        <span>submited by {{ link.submitter }}</span> |
        <span>submited on {{ link.submitted_on }}</span>
        {% if link.submitter == user %}
        <span><a href="{% url 'link_update' pk=link.pk %}">| Edit</a> | </span>
        <span><a href="{% url 'link_delete' pk=link.pk %}">Delete</a></span>
        {% endif %}

    </div>

  </li>
</form>
{% endfor %}
</ol>
{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}"> &lsaquo; Back &nbsp;  </a>
    {% endif %}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">&nbsp; More &rsaquo;</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}
