@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?u4b6fy');
  src:  url('../fonts/icomoon.eot?u4b6fy#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?u4b6fy') format('truetype'),
    url('../fonts/icomoon.woff?u4b6fy') format('woff'),
    url('../fonts/icomoon.svg?u4b6fy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-up:before {
  content: "\e900";
}

a{
  color: black;
}

.Link-detail{
  color: gray;
  font-size: .7em;
}
.Link-link{
  text-decoration: none;
}
ol li.list-group{
  list-style: decimal inside;
}
ol li.list-group-item{
  display: list-item;
}
.Link-form{
  margin: 0 auto;
  padding: 1em;
}
.footer{
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  background-color: #343A40;
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  right: 0px;
  left: 0px;

}