{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>My Hacker News</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/vote.js"></script>
</head>
<body>
	<div class="container">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a href="https://myhnewsclone.herokuapp.com/" class="navbar-brand">My Hacker News</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class='nav-link' href="{% url 'profile' slug=user.username %}";>Hello {{ user.username}}</a>
                        </li>
                        <li class="nav-item">
                            <a class='nav-link' href="{% url 'link_create' %}";>Sumbit New Link</a>
                        </li>
                        <li class="nav-item">
                            <a class='nav-link' href="https://myhnewsclone.herokuapp.com/logout/?next=https://myhnewsclone.herokuapp.com/">Log out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class='nav-link' href="https://myhnewsclone.herokuapp.com/register/">Sign Up</a>  
                        </li>
                        <li class="nav-item">
                            <a class='nav-link' href="https://myhnewsclone.herokuapp.com/login/">Log In</a>  
                        </li>

                    {% endif %}
                </ul>
                </div>
                
            </nav>
            {% block content %}
                
            {% endblock content %}             
        </div>
    </div>
    <div class="container footer bg-dark ">
        <p style="padding-left: 16px; padding-top: 5px;padding-bottom: 5px;text-align: center;">Contact: Sogani.24@gmail.com</p>
    </div>
</body>
</html>
